In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
path= pd.read_csv('C:/Users/andre/OneDrive/Escritorio/LenguajesProgramacion/DataAnalyticsPython/Data/co2_emission.csv')

In [9]:
path

            Entity Code  Year  Annual CO₂ emissions (tonnes )
0      Afghanistan  AFG  1949                        14656.00
1      Afghanistan  AFG  1950                        84272.00
2      Afghanistan  AFG  1951                        91600.00
3      Afghanistan  AFG  1952                        91600.00
4      Afghanistan  AFG  1953                       106256.00
...            ...  ...   ...                             ...
20848     Zimbabwe  ZWE  2013                     11536239.29
20849     Zimbabwe  ZWE  2014                     11866348.41
20850     Zimbabwe  ZWE  2015                     10907603.94
20851     Zimbabwe  ZWE  2016                      9932649.88
20852     Zimbabwe  ZWE  2017                     10397718.47

[20853 rows x 4 columns]

In [10]:
print(path.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20853 entries, 0 to 20852
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          20853 non-null  object
 1   Code                            18646 non-null  object
 2   Year                            20853 non-null  int64
 3   Annual CO₂ emissions (tonnes )  20853 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 651.8+ KB
None

In [5]:
print(path.describe())

               Year  Annual CO₂ emissions (tonnes )
count  20853.000000                    2.085300e+04
mean    1953.339424                    1.930517e+08
std       57.903089                    1.345143e+09
min     1751.000000                   -6.255223e+08
25%     1932.000000                    3.187680e+05
50%     1971.000000                    3.828880e+06
75%     1995.000000                    3.706898e+07
max     2017.000000                    3.615326e+10

In [6]:
print(path.head())

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

In [25]:
print(path.iloc[0:60])

         Entity Code  Year  Annual CO₂ emissions (tonnes )
0   Afghanistan  AFG  1949                        14656.00
1   Afghanistan  AFG  1950                        84272.00
2   Afghanistan  AFG  1951                        91600.00
3   Afghanistan  AFG  1952                        91600.00
4   Afghanistan  AFG  1953                       106256.00
5   Afghanistan  AFG  1954                       106256.00
6   Afghanistan  AFG  1955                       153888.00
7   Afghanistan  AFG  1956                       183200.00
8   Afghanistan  AFG  1957                       293120.00
9   Afghanistan  AFG  1958                       329760.00
10  Afghanistan  AFG  1959                       384571.42
11  Afghanistan  AFG  1960                       413883.42
12  Afghanistan  AFG  1961                       490797.70
13  Afghanistan  AFG  1962                       688594.27
14  Afghanistan  AFG  1963                       706735.98
15  Afghanistan  AFG  1964                       838550.83
16  Afghanistan  AFG  1965                      1006916.53
17  Afghanistan  AFG  1966                      1091158.82
18  Afghanistan  AFG  1967                      1281865.11
19  Afghanistan  AFG  1968                      1223389.69
20  Afghanistan  AFG  1969                       941231.98
21  Afghanistan  AFG  1970                      1670397.69
22  Afghanistan  AFG  1971                      1893931.41
23  Afghanistan  AFG  1972                      1531165.69
24  Afghanistan  AFG  1973                      1637243.40
25  Afghanistan  AFG  1974                      1915677.68
26  Afghanistan  AFG  1975                      2124525.68
27  Afghanistan  AFG  1976                      1984225.38
28  Afghanistan  AFG  1977                      2386745.67
29  Afghanistan  AFG  1978                      2155419.66
30  Afghanistan  AFG  1979                      2234903.94
31  Afghanistan  AFG  1980                      1757021.97
32  Afghanistan  AFG  1981                      1979372.53
33  Afghanistan  AFG  1982                      2095539.37
34  Afghanistan  AFG  1983                      2520091.42
35  Afghanistan  AFG  1984                      2822415.06
36  Afghanistan  AFG  1985                      3501893.65
37  Afghanistan  AFG  1986                      3134071.92
38  Afghanistan  AFG  1987                      3114159.90
39  Afghanistan  AFG  1988                      2857083.90
40  Afghanistan  AFG  1989                      2764887.89
41  Afghanistan  AFG  1990                      2602407.59
42  Afghanistan  AFG  1991                      2426486.16
43  Afghanistan  AFG  1992                      1381521.84
44  Afghanistan  AFG  1993                      1333837.11
45  Afghanistan  AFG  1994                      1282488.38
46  Afghanistan  AFG  1995                      1231139.65
47  Afghanistan  AFG  1996                      1165134.92
48  Afghanistan  AFG  1997                      1084474.19
49  Afghanistan  AFG  1998                      1029461.47
50  Afghanistan  AFG  1999                       809568.74
51  Afghanistan  AFG  2000                       768195.25
52  Afghanistan  AFG  2001                       812074.37
53  Afghanistan  AFG  2002                      1064074.85
54  Afghanistan  AFG  2003                      1187070.59
55  Afghanistan  AFG  2004                       941455.62
56  Afghanistan  AFG  2005                      1320250.12
57  Afghanistan  AFG  2006                      1643246.00
58  Afghanistan  AFG  2007                      2268343.10
59  Afghanistan  AFG  2008                      4198329.64